{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        
        <div id="loader"></div>
        
        <div id="wrap">

            {% include 'partials/header.twig' %}
            {% block content %}
                Sorry, no content
            {% endblock %}
            
        </div><!-- /wrap-->
        
         {% include 'partials/footer.twig' %}
        {{ function('wp_footer') }}

    </body>
</html>
