{% extends "base.twig" %}

{% block content %}

	<section id="page" class="oneheader">
		
		<div class="container">
		
				<h1>{{post.title}}</h1>

				<div class="page-body">
					{{post.content}}
				</div>
		</div>

		</section>

{% endblock %}