$max-width: em(1200) !global;
$smallscreen: new-breakpoint(max-width 992px);
$largescreen: new-breakpoint(min-width 1200px);
$mobile: new-breakpoint(max-width 768px);

body {
	font-family: 'gotham-light-webfont',"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	font-size:14px
}
b, strong {
	font-family: 'gotham-book-webfont',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.white {
	color: white!important
}
.black {
	color: black!important
}
.grey {
	color:grey!important
}

/* #Font-Face
================================================== */
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot');
	src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/fontawesome-webfont.woff') format('woff'),
	url('fonts/fontawesome-webfont.ttf') format('truetype'),
	url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CodeLight';
	src: url('fonts/CODELight.eot'); /* IE9 Compat Modes */
	src: url('fonts/CODELight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('fonts/CODELight.woff') format('woff'), /* Modern Browsers */
			 url('fonts/CODELight.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('fonts/CODELight.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
}
@font-face {
	font-family: 'gotham-light-webfont';
	src: url('fonts/gotham-light-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('fonts/gotham-light-webfont.woff') format('woff'), /* Modern Browsers */
			 url('fonts/gotham-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('fonts/gotham-light-webfont.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
}
@font-face {
	font-family: 'gotham-book-webfont';
	src: url('fonts/gotham-book-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('fonts/gotham-book-webfont.woff') format('woff'), /* Modern Browsers */
			 url('fonts/gotham-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('fonts/gotham-book-webfont.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
}
