{% extends "base.twig" %}

{% block content %}

  <div class="header-artist">
    <div class="container">
      <h2>Exhibitions</h2>
    </div>
  </div>

  <section class="doubleheader" id="exhibitions">
      <div class="container">
        <div class="row search">
          
          <div id="navside" class="col-md-3">
             <h2 class="police-6">Artiste</h2>
            {% filter shortcodes %}
              [facetwp facet="expo_artistes"]
            {% endfilter %}

             <h2 class="police-6">Type d'exposition</h2>
            {% filter shortcodes %}
              [facetwp facet="expo_categories"]
            {% endfilter %} 

            <h2 class="police-6">Localisation</h2>
            {% filter shortcodes %}
              [facetwp facet="expo_place"]
            {% endfilter %} 
            
             <h2 class="police-6">Année</h2>
            {% filter shortcodes %}
              [facetwp facet="expo_dates"]
            {% endfilter %} 

          </div>

          <div class="col-md-9" role="main">
            <div class="row thumbs">
          
            {% filter shortcodes %}
              [facetwp template="exhibitions"]
            {% endfilter %}

          </div>
        </div>             
      </div>
    </section><!-- exhibitions-->


{% endblock %}
