{% extends "base.twig" %}

{% block content %}

	<section class="oneheader" id="artfair">
    	<div class="container">
				
			<div class="row">
				
				<div class="col-md-12">
					<h2 class="police-9">Artfair</h2>
				</div>
				<div id="navside" class="col-md-3">
					<h2 class="police-6">Foires</h2>
					{% filter shortcodes %}
			          [facetwp facet="artfair_type"]
			        {% endfilter %}  
					<h2 class="police-6">Année</h2>
					{% filter shortcodes %}
			          [facetwp facet="artfair_date"]
			        {% endfilter %}  
				
				</div>

				<div class="col-md-9" role="main">
					<div class="row thumbs">
				
					{% filter shortcodes %}
						[facetwp template="artfair"]
					{% endfilter %}

				</div>

			</div>
		</div>             

    </section><!-- artworks-->


{% endblock %}
