{% extends "base.twig" %}

{% block content %}

	<section class="oneheader" id="press">
    	<div class="container">
				
			<div class="row">
				
				<div class="col-md-12">
					<h2 class="police-9">Press</h2>
				</div>

				<div id="navside" class="col-md-3">
					<h2 class="police-6">langues</h2>
					{% filter shortcodes %}
						[facetwp facet="langues"]
					{% endfilter %}	
					<h2 class="police-6">Année de publication</h2>
					{% filter shortcodes %}
			          [facetwp facet="press_date"]
			        {% endfilter %}  
				
				</div>

				<div class="col-md-9" role="main">
					<div class="row thumbs">
				
					{% filter shortcodes %}
						[facetwp template="press"]
					{% endfilter %}

				</div>

			</div>
		</div>             

    </section><!-- artworks-->


{% endblock %}
