{% extends "base.twig" %}

{% block content %}

	<div class="header-artist">
		<div class="container">
			<h2 class="police-5">Artworks</h2>
		</div>
	</div>

	<section class="doubleheader" id="artworks">
    	<div class="container">
			<div class="row">
			
				<div id="navside" class="col-md-3">
					<h2 class="police-6">Artiste</h2>
					{% filter shortcodes %}
			          [facetwp facet="artwork_artistes"]
			        {% endfilter %}  

			        <h2 class="police-6">Technique</h2>
					{% filter shortcodes %}
						[facetwp facet="artwork_techniques"]
					{% endfilter %}	

					 <h2 class="police-6">Année</h2>
					{% filter shortcodes %}
						[facetwp facet="artwork_date"]
					{% endfilter %}	

					{% filter shortcodes %}
						[facetwp facet="artwork_available"]
					{% endfilter %}		
				
				</div>

				<div class="col-md-9" role="main">
					<div class="row thumbs">
				
					{% filter shortcodes %}
						[facetwp template="artwork"]
					{% endfilter %}

				</div>

			</div>
		</div>             

    </section><!-- artworks-->


{% endblock %}
