
@media (max-width: 480px) {
   .block-lang-search {
    padding: 15px 15px 0
  }
  #bio, #artwork, #related {
    height:auto!important;
  }
  #quote-rotate span {
    font-size: 1em
  }
  nav#Nav-artist {
    display: none
  }
  footer ul.socials {
    padding-top: 20px
  }
  .header-artist {
    top:55px;
  }
}


@media (min-width: 767px) {
  /* Admin Top Navigation fixes */
  body.admin-bar .navbar-fixed-top {
    top: 32px;
  }
  body.admin-bar .fancybox-close {
    top: 27px;
  }
  body.admin-bar .header-artist {
    top: 87px;
  }
  .home header {
    padding-top:18px 
  }
  header.showmenu {
    padding-top:5px 
  }
  .navbar-header {
    position: absolute;
  }
  .navbar .navbar-brand {
    padding: 3px 15px;
  }
  .navbar-nav {
    width: 90.33%;
    margin-left: 9.66%;
    text-align: center
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  #artists .mix {
    max-height: 290px;
  }
  #artists .thumb-over {
    height: 230px;
    overflow: hidden;
  }
  footer h3.social {
    margin-bottom: 39px
  }
  footer .no-title {
   margin-top: 62px
  }
}

@media (min-width:992px){
  section#social,
  section#page,
  section#artists,
  section#news,
  section#exhibitions,
  section#artworks {
    min-height: 100%;
  }
  
  .navbar-nav {
    width: 92.33%;
    margin-left: 7.66%
  }
  #artists .thumb-over {
    height: 115px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    width: 93.66%;
    margin-left: 6.33%
  }
  #artists .thumb-over {
    height: 150px;
  }
}



